@import '../section.module.scss';

.containerImg {
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    margin: 0.2rem;
}

.cardImg {
    width: 8.5rem;
    transition: 1s;
}

.txtImg {
    font-size: 0.7rem;
    text-align: left;
    margin-left: 0.3rem;
    transition: 0.5s;
}

.container:hover {
    color: $color-contraste;
    cursor: pointer;
}

.cardImg:hover {
    transform: scale(1.1);
    transform-origin: 50%;
}