@import '../../style/variables.module.scss';

.titleOfSection {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    font-weight: 200;
    text-shadow: 0 0 3px $color-shadow;
    margin-top: 2.5rem;
    align-self: flex-start;
    margin-left: 0.5rem;
    width: 100%;
}