@import '../../../../../style/variables.module.scss';

.txt {
    padding: 0.2rem 0;
    font-size: 1rem;
    text-align: left;
    color: $color-background-contraste;
    margin-left: 1rem;
    margin: 0;
    font-weight: 100;
    padding: 0.3rem 0;
}

.txtCompany {
    margin-left: 0;
}
