@import '../../../../style/variables.module.scss';

.container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: $color-background-contraste;
    background-color: $color-background-claro;
}

.containerInfo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem 20%;
}

.containerTxt {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 0.7rem;
    text-align: left;
    color: $color-background-contraste;
    margin-left: 1rem;
}

.title, .stars, .sinopsis, .txt {
    padding: 0.5rem 0;
}

.stars {
    color: $color-contraste;
}

.sinopsis {
    text-align: justify;
}

.title {
    font-size: 1.1rem;
    font-weight: 200;
    margin-top: -0.3rem;
    margin-bottom: 0.3rem;
}

p {
    margin: 0;
    font-size: 1rem;
    font-weight: 100;
    padding: 0.3rem 0;
}

.socialMedia {
    margin-top: 2rem;
}

.icon {
    margin-right: 0.2rem;
    font-size: 1.5rem;
}

.icon:hover {
    color: $color-contraste;
}

a {
    text-decoration: none;
    color: $color-background-contraste;
}