@import '../../../../style/variables.module.scss';

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: $color-background-contraste;
    background-color: $color-background-claro;
}

.containerInfo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem 20%;
}

.containerTxt {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 0.7rem;
    text-align: left;
    color: $color-background-contraste;
}

.title, .stars, .sinopsis, .txt {
    padding: 0.2rem 0;
}

.title {
    font-size: 1.5rem;
    margin-top: 0;
}

p {
    margin: 0;
}

.socialMedia {
    margin-top: 2rem;
}

.icon {
    margin-right: 0.2rem;
    font-size: 1rem;
}