@import '../../Section/section.module.scss';
@import '../../Section/Card/card.module.scss';
@import '../../../../style/variables.module.scss';
@import '../../homepage.module.scss';

.txtCharacter {
    font-size: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    margin-left: 0.3rem;
    transition: 0.5s;
}

.containerCast {
    width: 75%;
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
}

.containerCastCards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
