.title {
    font-size: 1.1rem;
    font-weight: 200;
    margin-top: -0.3rem;
    margin-bottom: 0.3rem;
    padding: 0.2rem 0;
}

.txt {
    padding: 0.2rem 0;
    font-size: 0.7rem;
    text-align: left;
    color: $color-background-contraste;
    margin-left: 1rem;
}

p {
    margin: 0;
    font-size: 0.62rem;
    font-weight: 100;
}
