@import '../../../style/variables.module.scss';

.container {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.containerCards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titleOfSection {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    font-weight: 200;
    text-shadow: 0 0 3px $color-shadow;
    margin-top: 2.5rem;
    align-self: flex-start;
    margin-left: 0.5rem;
    width: 100%;
}

.icon {
    font-size: 2rem;
    color: $color-contraste;
    text-shadow: 0 0 3px $color-shadow;
    transition: 0.5s;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.3);
}

