@import '../../../style/variables.module.scss';

.container {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.containerCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleOfSection {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    font-weight: 200;
    text-shadow: 0 0 3px $color-shadow;
    margin-top: 2.5rem;
}

.icon {
    font-size: 2rem;
    color: $color-contraste;
    text-shadow: 0 0 3px $color-shadow;
    transition: 0.5s;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.3);
}

