@import '../../style/variables.module.scss';

.navbar {
    width: 100%;
    color: #C1C1C1; // $color-background-contraste
    background-color: #424242; // $color-background-oscuro
    padding: 0.3rem 0;    
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    z-index: 2;
    
}

.icon {
    font-size: 1.3rem;
    margin-left: 1rem;
    align-self: center;
    cursor: pointer;
    text-shadow: 0 0 3px $color-shadow;
    color: $color-background-contraste;
}

.iconActive icon {
    color: $color-contraste;    
}


.icon:hover {
    color: $color-contraste;
}

.containerIcons, .containerSearch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerSearch {
    margin-left: 1rem; // podria ser una variable
    display: flex;
    align-items: center;
}

.search {
    margin-left: 0.4rem;
    background-color: #C1C1C1; // $color-background-contraste
    border-style: none;
}

.search::placeholder {
    padding: 0.3rem;
    font-size: 0.7rem;
}
