@import "../../homepage.module.scss";
@import "../../../../style/variables.module.scss";

.containerCast {
    width: 75%;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.containerList {
    width: 16rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    border: solid 0.001rem $color-background-oscuro;
    margin-right: 2rem;
    // border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.videoTitle {
    font-weight: 100;
    margin: 0;
    padding-top: 0.2rem;
    font-size: 1.3rem;
}

.videoTxt {
    margin-top: 0.2rem;
}

.videoTitle:hover {
    cursor: pointer;
    color: $color-contraste;
}

.iconVideo {
    font-size: 2rem;
}

.iconVideo:hover {
    cursor: pointer;
    color: $color-contraste;
}